<h1>them lop</h1>
<form action="/add" method="post">
    MaSinhVien: <input type="text" name="MaSinhVien"><br> NgaySinh: <input type="text" name="NgaySinh"><br> GioiTinh: <input type="text" name="GioiTinh"><br> QueQuan: <input type="text" name="QueQuan"><br>
    <button type="submit">Them</button>
</form>